.cc-profile-image a:before {
    border: 15px solid #648edc;
}

.bg-primary {
    background-color: #007bff !important;
}

.progress-container.progress-primary.tag{
    font-weight: 500;
}

.progress-container.progress-primary .progress-badge {
    color: #044bce;
    font-weight: 600;
}

.progress-container.progress-primary .progress-bar {
    background: #2ca8ff;
}

.progress-container.progress-primary .progress {
    background: #dce8f8;
}

.progress-container.progress-primary .progress-value{
    color: #044bce;
    font-weight: 400;
}

.btn-primary {
    background-color: #044bce;
    color: #FFFFFF;
}

a.btn.btn-primary:hover{
    background-color: #5889e2;
}

.msg {
	border-radius: 4px;
	margin-bottom: 20px;
	min-height: 50px;
	vertical-align: middle;
	padding: 12px 7px 7px 40px !important;
	margin: 10px;
}

.msg-success {
	background: 7px 10px no-repeat;
	background-color: #a6c99e;
	border-color: #73bb63;
	color: #48863a;
	margin-top: 15px;
	margin-bottom: 15px;	
    padding-left: 20px !important;
}
}
.msg-success hr {
	border-top-color: #86af85;
}
.msg-success .msg-link {
	color: #232c23;
}

.hidediv {
	display: none;
}

.msg-error-center {
	background: 10px center no-repeat;
	background-color: #f2dede !important;
	border-color: #eed3d7 !important;
	color: #b94a48 !important;
	margin-top: 15px;
	margin-bottom: 15px;
    padding-left: 20px !important;
    
}

.msg i.fa, .msg i.now-ui-icons {
    font-size: 20px;
}

.nav-pills.nav-pills-primary .nav-item .nav-link.active, .nav-pills.nav-pills-primary .nav-item .nav-link.active:focus, .nav-pills.nav-pills-primary .nav-item .nav-link.active:hover {
    background-color: #007bff;
}

.cc-instagram:hover i {
    color: #000000; 
}

button.btn.btn-primary:hover{
    background-color: #5889e2;
}

.gallery .cc-porfolio-image figure figcaption, .gallery .cc-porfolio-image figure figcaption > a:hover {
    cursor: pointer;
}

.website {
	color: #007bff;